

:root {
	--primary-tone:#5d6063;
	--complementary-tone:#eaedf0;
	--true-white:#fff;
	--grey-white:#f5f5f5;
	--form-accent-color:#999;
	--results-accent-color:rgba(0, 116, 217, 0.8);

	--form-border:1px solid var(--form-accent-color);
	--results-border:1px solid orange;

	--standard-radius: 0.25em;

	--box-shadow-sharp:
		0 1px 1px rgba(0,0,0,0.25), 
        0 2px 2px rgba(0,0,0,0.20), 
        0 4px 4px rgba(0,0,0,0.15), 
        0 8px 8px rgba(0,0,0,0.10),
        0 16px 16px rgba(0,0,0,0.05);
}

html,
body {
	background: var(--complementary-tone);
}

.wrapper {
	font-family: sans-serif;
	margin: 0 auto;
	text-align: center;
}
.wrapper h1 {
	margin: 0;
	background: var(--primary-tone);
    color: var(--true-white);
    padding-top: 5%;
    font-size: 3em;
    letter-spacing: 3px;
    text-shadow: 5px 4px 11px rgb(0 0 0), 0 2px 5px rgb(0 0 0);
}

form {
	background: var(--primary-tone);
	border-bottom: 1px solid #a9a9a9;
	box-shadow: 0px 15px 10px -15px #111;
	padding-bottom: 3%;
}
form h3 {
	color: var(--true-white);
	margin-top: 0;
	padding: 1%;
}
form input {
	border: var(--form-border);
	border-radius: var(--standard-radius);
	box-shadow: var(--box-shadow-sharp);
  	padding: 8px;
  	width: 300px;
	text-align: center;
}
form button {
	box-shadow: var(--box-shadow-sharp);
	background: var(--complementary-tone);
	width: calc(300px + 1.18rem);
    padding: 0.5em;
    color: unset;
    border-color: unset;
    border-radius: var(--standard-radius);
    margin-top: 1em;
}

.wrapper .results-title {
	border-bottom: var(--results-border);
	margin: 4em auto 1em auto;
	padding-bottom: 0.25em;
	width: fit-content;
}
.wrapper ul {
	list-style: none;
	padding-left: 0;
	max-width: 85em;
    margin: 0 auto;
}
.wrapper ul.results li {
	padding: 0.25em;
}
.wrapper ul.results li:nth-of-type(odd) {
	background: var(--grey-white);
	border-radius: var(--standard-radius);
	margin: 0 auto;
	width: calc(50% + 1rem);
}
.wrapper .message {
	color: var(--complementary-tone);
}

.no-autocomplete {
  	color: var(--form-accent-color);
  	padding: 8px;
}
.no-autocomplete .fineprint {
	font-size: 0.8em;
}

.autocomplete {
  	border: var(--form-border);
  	border-top-width: 0;
  	list-style: none;
  	margin: 0 auto;
  	max-height: 143px;
  	overflow-y: auto;
  	padding-left: 0;
  	width: calc(300px + 1rem);
}
.autocomplete li {
	color: var(--complementary-tone);
  	padding: 8px;
}
.autocomplete > .active,
.autocomplete li:hover {
  	background-color: var(--results-accent-color);
  	cursor: pointer;
  	font-weight: 900;
}
.autocomplete li:not(:last-of-type) {
  	border-bottom: var(--form-border);
}



